body {
    width: 350px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    user-select: none;
    gap: 10px;
}


#title {
    text-align: center;
}

#openBtn {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #008CBA;
    border-color: white;
}

#openBtn:hover {
    background-color: #007bb5;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

#solveBtn {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: whitesmoke;
    border-color: white;
}

#solveBtn:hover {
    background-color: #45a049;
    cursor: pointer;
}